<div style="background-color:transparent;">
                      <div class="block-grid four-up no-stack" style="Margin: 0 auto; min-width: 320px; max-width: 480px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;">
                        <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
                          <!--[if (mso)|(IE)]>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;">
                            <tr>
                              <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0" style="width:480px">
                                  <tr class="layout-full-width" style="background-color:transparent">
                                    <![endif]-->
                                    <!--[if (mso)|(IE)]>
                                    <td align="center" width="120" style="background-color:transparent;width:120px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                          <td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;">
                                            <![endif]-->
                                            <div class="col num3" style="max-width: 320px; min-width: 120px; display: table-cell; vertical-align: top; width: 120px;">
                                              <div style="width:100% !important;">
                                                <!--[if (!mso)&(!IE)]><!-->
                                                <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                                                  <!--<![endif]-->
                                                  <div style="font-size:14px;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif">
                                                    <div class="our-class">{{exec_date}}</div>
                                                  </div>
                                                  <!--[if (!mso)&(!IE)]><!-->
                                                </div>
                                                <!--<![endif]-->
                                              </div>
                                            </div>
                                            <!--[if (mso)|(IE)]>
                                          </td>
                                        </tr>
                                      </table>
                                      <![endif]-->
                                      <!--[if (mso)|(IE)]>
                                    </td>
                                    <td align="center" width="120" style="background-color:transparent;width:120px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                          <td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;">
                                            <![endif]-->
                                            <div class="col num3" style="max-width: 320px; min-width: 120px; display: table-cell; vertical-align: top; width: 120px;">
                                              <div style="width:100% !important;">
                                                <!--[if (!mso)&(!IE)]><!-->
                                                <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                                                  <!--<![endif]-->
                                                  <div style="font-size:14px;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif">
                                                    <div class="our-class">{{start_date}}</div>
                                                  </div>
                                                  <!--[if (!mso)&(!IE)]><!-->
                                                </div>
                                                <!--<![endif]-->
                                              </div>
                                            </div>
                                            <!--[if (mso)|(IE)]>
                                          </td>
                                        </tr>
                                      </table>
                                      <![endif]-->
                                      <!--[if (mso)|(IE)]>
                                    </td>
                                    <td align="center" width="120" style="background-color:transparent;width:120px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                          <td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;">
                                            <![endif]-->
                                            <div class="col num3" style="max-width: 320px; min-width: 120px; display: table-cell; vertical-align: top; width: 120px;">
                                              <div style="width:100% !important;">
                                                <!--[if (!mso)&(!IE)]><!-->
                                                <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                                                  <!--<![endif]-->
                                                  <div style="font-size:14px;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif">
                                                    <div class="our-class">{{end_date}}</div>
                                                  </div>
                                                  <!--[if (!mso)&(!IE)]><!-->
                                                </div>
                                                <!--<![endif]-->
                                              </div>
                                            </div>
                                            <!--[if (mso)|(IE)]>
                                          </td>
                                        </tr>
                                      </table>
                                      <![endif]-->
                                      <!--[if (mso)|(IE)]>
                                    </td>
                                    <td align="center" width="120" style="background-color:transparent;width:120px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
                                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                          <td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;">
                                            <![endif]-->
                                            <div class="col num3" style="max-width: 320px; min-width: 120px; display: table-cell; vertical-align: top; width: 120px;">
                                              <div style="width:100% !important;">
                                                <!--[if (!mso)&(!IE)]><!-->
                                                <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                                                  <!--<![endif]-->
                                                  <div style="font-size:14px;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif">
                                                    <div class="our-class">{{recommendation}}</div>
                                                  </div>
                                                  <!--[if (!mso)&(!IE)]><!-->
                                                </div>
                                                <!--<![endif]-->
                                              </div>
                                            </div>
                                            <!--[if (mso)|(IE)]>
                                          </td>
                                        </tr>
                                      </table>
                                      <![endif]-->
                                      <!--[if (mso)|(IE)]>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <![endif]-->
                        </div>
                      </div>
                    </div>